<img src="{{movie.image}}" alt="{{movie.title}} image">

<div>
    <a href="/movies">Go Back </a>
    <p> {{movie.title}} </p>
    <p> Director: {{movie.director}} </p>
    <p> Stars</p>
    <ul> 
        <li> {{movie.stars}} </li>
    </ul>
    <p> {{movie.description}} </p>
    <p> {{movie.showtimes}} </p>

</div>