<img src="{{movie.image}}" alt="{{movie.title}} image">

<div>
    <a href="/movies">Go Back </a>
    <p> {{movie.title}} </p>
    <p> Director: {{movie.director}} </p>
    <p> Stars</p>
    <ul> 
        {{#each movie.stars}}
            <li> {{this}} </li>
        {{/each}}
    </ul>
    <p> {{movie.description}} </p>
    <p> {{#each movie.showtimes}} 
        {{this}} || 
        {{/each}}
    </p>

</div>